@mixin display-flex($flex-direction, $align-items, $justify-content) {
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -o-display: flex;
    align-items: $align-items;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

@mixin buttons($color) {
    background-color: $color;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 15px;
}