.navegacao {
    background-color: white;
    box-shadow: 3px 1px 4px 1px rgba(179,179,179,1);
    height: 90px;
    @include display-flex(row, center, space-evenly);

    .logo {
        width: 10%;
    }

    .menu {
        @include display-flex(row, center, space-between);
        
        li {
            list-style: none;
            margin-right: 18px;
        }
    
        .botao {
            @include buttons($default-purple);
        }
    }
}
